/* Body and html on all pages */

html{ 
    overflow-y: scroll; 
    overflow-x:hidden; 
}

body{
    overflow:hidden;
    background-color: #e2e2df;
}

.h4{
  font-family: 'Poppins', sans-serif;
}


#Main {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.title {
    display: block;
    position: relative;
    text-align: center;
    padding: 2%;
    color: #22181c;
  }
  
/*  Nav bar on all the pages*/

.navBar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navBarElementContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.navBarButton {
    text-decoration: none;
    color: #6d6875;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.navBarButton:hover{
    text-decoration: none;
    color: #2a9d8f;
}

.navBarLeaf{
   font-size: 30px;  
   color: #6d6875;
   text-decoration: none;
}

.navBarLeaf:hover{
    color:#2a9d8f;
}

#home .burger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    cursor: pointer;

}

/* Nav Bar Social on all pages */

.navSocialButton {
    color:black;
    font-size:30px;
    width: 20px;
    margin: 0px 25px 0px 0px;
    text-decoration: none;
    
}
.navSocialElements{
    display:flex;
    flex-direction: row;
}

.navSocialButton:hover{
    text-decoration: none;
    color: #0077b6;
}


/* Autumn leaves animation on all pages*/

@keyframes sway { 
	0% { 
        transform: rotateZ(-20deg) rotateX(55deg);
        animation-timing-function: linear;
	}
    30% {
		transform: rotateZ(20deg) rotateX(60deg);
		animation-timing-function: ease-in-out;
	}
	60% { 
		transform: rotateZ(-20deg) rotateX(55deg);
		animation-timing-function: ease-in-out;
	}
    100% {
		transform: rotateZ(0deg) rotateX(58deg);
		animation-timing-function: cubic-bezier(0.890, 0.000, 0.890, 0.435);
		}
}
@keyframes fall { 
	60% {
        filter: drop-shadow(0px 70px 40px rgba(0,0,0,0));
	}
	100% {
		margin-top: 1000px;
        opacity: 0.5%;
	}
}


img[alt="autumn leaf"] {
	position: absolute;
	transform-origin: 0px -400px 0px;
	animation-name: fall, sway;
	animation-duration: 7s, 5s;
	animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow:hidden;
}


/* Index page */

.homePage h1#name, .homePage #tag {
    height: 200px;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}

.homePage h1#name {
    text-align: center;
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 0.78;
    align-items: flex-end;
    position: static;
    margin: 30;
    margin-block-end: 0.70em;
    margin-block-start: 0.70em;
    padding: 80;
    justify-content: center;
    color: #6d6875;
    font-family: 'Poppins', sans-serif;

}
    
.homePage #name:hover, .homePage #tag:hover {
    transform: translateY(10%); 
    color:  #F13F79;
}

.homePage {
    overflow: hidden;
}

#tag{
    justify-content: center;
    color: #6d6875;
    font-family: 'Poppins', sans-serif;

}   

/* About page */

.headingOne{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;   
   
}

.headingTwo{
    font-family: 'Poppins', sans-serif;
}

.aboutSectionMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.aboutSection  {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif; 
}

.aboutPhoto{
  width:400px;
    
}

.aboutSectionContent{
    width: 500px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText{
    font-family: 'Poppins', sans-serif; 
    display: flex;
    align-content: center;
  
}

.aboutIcon{
    font-size: 30px;
    display: flex;

}

.aboutSectionCentre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.aboutSectionSectionOneContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aboutInformationBlock {
    width: 800px;
    margin: 30px;
}

/* Resume download */

.resumeSection {
     display: flex;
     justify-content: center;
     align-items: center;
}

.hobbies{
    font-size: 30px;

}

.abouthtml, .aboutcss, .aboutgit { 
    font-size: 64px;

}

.abouthtml:hover{
    color: #e85d04;
}

.aboutcss:hover{
    color: #168dcc;

}

.btn {
    background-color:#6d6875;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: #2a9d8f;
  }

/* Project page */

  .portfolioimg {
    height: 400px;
    width: 100%;
    object-fit: contain;
    display: block;
    justify-content: space-around;
  }
  
  .portfolioimg img {
    width: 100%;
    height: 100%;
    
  }

  .portfolioLink {
    margin-top: 10px;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    padding: 0.4em 0.4em;
    border: 2px solid #f13030;
    text-align: center;
    color: #6d6875;
    
  }
  
  .portfoliolink:hover {
    transform: scale(1.2);
    background-color:#6d6875;
  }
  
  .portfolioContainer {
    position: relative;
    justify-content: center;
    width: 100%;
   
  }
  
  .portfolioOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #f9c6c9;
  }
  
  .portfolioContainer:hover .portfolioOverlay {
    opacity: 1;
  }
  
  .portfolioText {
    color: #6d6875;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  

/*  Blog page */

.blogList{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    border: 10px;
    margin: auto 10%;
}

.blogPost{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin: auto 10%;
    border: 10px;

}

.blogImages{
    display: flex;
}
   

.line{
    border-top: 5px dotted #e5989b;
    
}

/* Contact */

/* contact form section */

.wrapper{
    box-sizing: content-box; 
    padding: 20px;
    background: #83C498;
    background: #D0E0D0;
    background: -webkit-linear-gradient(left, #D0E0D0, #BBE0BA);
    background: -moz-linear-gradient(left, #D0E0D0, #BBE0BA);
    background: linear-gradient(to right, #D0E0D0, #BBE0BA);    
    margin: 2em 3em;
    border-radius: 6px;
  }
  
  input[type=text],input[type=email], textarea {
      width: 100%;
      padding: 12px;
      border: 3px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 16px;
      margin-bottom: 16px;
      resize: vertical;
  }
  input[type=text]:focus,input[type=email]:focus, textarea:focus {
      border: 3px solid pink;
  }
  
  /* Add styles to the submit button */

  input[type=submit] {
      background: #e5989b;
      margin: 0 auto;
      outline: 0;
      color: white;
      border: 0;
      padding: 12px 24px;
      border-radius: 4px;
      position: relative;
      display: inline-block;
      text-align: center;
  }
  
  /* Style 'hover' property */

  input[type=submit]:hover {
      background: #2196F3;
  }
  .wrapper label{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
  }

.text{
    font-family: 'Poppins', sans-serif;
}

/* Footer */

.mainFooter {
    margin: 150px 0px 0px 0px;
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clear:both;
    
}

.footerTextOne {
    color: #6d6875;
    margin: 0px 0px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
   
}

/* Media breaks */


@media only screen and (max-width: 600px) {
    .navBarElementContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 75px 0px 0px 25px;
        }
    .navSocialElements {
        margin: 30px 0px 0px 0px
        }
    .navBarButton {
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .autumnleaves {
        width: 200%;
    }
}  

@media only screen and (max-width: 600px) {
    .navBarElementContainer {
        width: 100%;
         display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 40px 0px 0px 40px;
    
    } 
    .navSocialElements {
        margin: 20px 0px 0px 0px;
    }
    .navBarButton {
        font-size: 20px;
    }  

}  

@media only screen and (max-width: 900px) {
    .aboutSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    } 
    .aboutPhoto{
      width: 80px;
      display: flex;
      justify-content: center;


    }
    .aboutSectionSectionOneContainer{
        flex-direction: column;
        width: 100%;
    }

    .aboutInformationBlock{
     width: 80%;


    }
.aboutSectionContent{
    width:100%;

}
    .text{
    width: 90%;


}

}  

 @media only screen and (min-width: 1000px) {
    .portfolioGrid{
        margin: 0 auto;
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
        width: 70%;
        align-content: center;
        padding: 15px;
      }
      
     
      }





