
.navBar{
    display: flex;
    justify-content: center;    
}

.navBarElements{
    width: 30%;
    text-align: center;
    display: flex;
	justify-content: space-around;
    font-family: helvetica;
    font-size: 30px;
	max-width: 100%;

}

.navBarButton {
    text-decoration: none;
    color: #F9C6C9;
}

.navBarButton:hover{
    text-decoration: none;
    color: #C9E4DE;
}

#intro{
    color: #C9E4DE;
    font-family: helvetica;
    display: flex
}    

.introContainer{
	margin: 10px 0px 10px 0px;
    display: flex;
	justify-content: flex-start;
}

#introFSD{
    color: #C9E4DE;
    font-family: helvetica;
    display: flex;
    flex-flow: row-reverse wrap;

}

.mainIntro{
    margin-top:50px;
    
}

.mainHeader {
    max-width: 200%;
    height: 200px

}

.mainCoverImage {	
    max-width: 100%;
    background-color: #c6def1;
    height: 400px;
}

#about{
    color: #C9E4DE;
    font-family: helvetica;
    text-align: center;

}

.aboutMe{
    text-align: center;
    font-family: helvetica;
    font-size: 16px;
    color: #6d6875;
}


.clouds {
    width: 50px;
   
}

.movingCloud{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    transition-timing-function:  ease;
    transition-property: opacity, left;
    transition-duration: 2s, 4s;
}




