
/* Nav bar */

.navBar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    
}

.navBarElements{
    width: 100%;
    text-align: center;
    
    
}

.navBarButton {
    text-decoration: none;
    color: #f9c6c9;
    font-family: helvetica;
    font-size: 30px;
}

.navBarButton:hover{
    text-decoration: none;
    color: #c9e4de;
}

/* Autum leave */

div#autumnleav {
	width: 768px;
	height: 500px;
	position: absolute;
}

img[alt="autumn leaf"] {
	position: absolute;
	width: 50%;
	transform-origin: 0px -400px 0px;
	animation-name: fall, sway;
	animation-duration: 7s, 8s;
	animation-fill-mode: both;
	animation-timing-function: linear, ease-in-out;
}

@keyframes sway { 
	0% { 
		transform: rotateZ(-20deg) rotateX(55deg);
	}

}
@keyframes fall { 
	60% {
		filter: drop-shadow(0px 60px 40px rgba(0,0,0,0));
	}
	100% {
		margin-top: 500px;
		filter: drop-shadow(0px 5px 8px rgba(0,0,0,0.6));
	}
}

/////////////* Index *////////////////////

#introMain{
    color: black(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 2px 2px 3px whitesmoke;
	
}    

.introContainer{
	margin: 10px 0px 10px 0px;
    display: flex;
	justify-content: flex-start;
}

#introFSD{
    color: rgb(112, 124, 43);
    font-family: helvetica;
    display: flex;
    flex-flow: row-reverse wrap;

}

.mainIntro{
    margin-top:50px;
    
}

.mainHeader {
    max-width: 200%;
    height: 200px

}

.mainCoverImage {	
    max-width: 100%;
    background-color: #c6def1;
    height: 400px;
}

.headingOne{
    text-align: center;
	color: #262A10
}

/* about  */
#about{
    color: #6d6875;
    font-family: helvetica;
    text-align: center;
    
}

.aboutSection{
    display: flex;
	flex-direction: column;
}

.aboutSubheading{
   text-align: center;

}
.aboutSection p{
	margin: auto 10%;
   
}

/* contact */
#contactForm {
	border: 2px solid grey;
	padding: 20px 25px 20px 25px;
    width: 40%;
    margin: 0 auto; 
}

#contactForm input {
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
.navBarButton {
    text-decoration: none;
    color: #F9C6C9;
    font-family: helvetica;
    font-size: 20px;
}







